<nav class="font-sans text-sm mb-2 flex justify-between">
    <a class="hover:underline cursor-pointer" hx-get="/" hx-target="#panel">Géowatt</a>
    {% include "power_plants/components/close_panel_button.html" %}
</nav>
<h1 class="text-lg font-bold uppercase">À propos de Géowatt</h1>
<h2 class="font-bold text-l mt-4">Fonctionnalités</h2>
<p class="mb-2">
    Géowatt est une carte interactive qui permet de visualiser la répartition des
    moyens de production d'électricité sur le territoire français métropolitain.
    Pour chaque centrale, il est possible de connaître la source de production
    d'électricté : des combustibles fossiles (fioul, gaz, déchets, bois),
    l'énergie hydraulique des barrages ou des fleuves, l'énergie nucléaire, le
    vent, le soleil, etc.
</p>
<p>
    Il est dans certains cas possibles de connaître la production en quasi temps
    réel des différentes tranches (ou unités de production) des centrales. C'est
    par exemple le cas de toutes les centrales nucléaires. Il est aussi indiqué la
    production annuelle d'électricité dans la commune de la centrale.
</p>
<p>Ce site permet également de visualiser le mix énergétique fourni par RTE.</p>
<h2 class="font-bold text-l mt-4">Sources de données</h2>
<ul class="list-disc ml-4">
    <li>
        Données géographiques des centrales (nom, coordonnées, source, production
        installée, opérateur) : OpenStreetMap.
    </li>
    <li>
        Codes d'identification d'énergie : Wikidata. Ces codes permettent de relier
        les centrales à leur production d'énergie fournie par RTE.
    </li>
    <li>Production d'électricité par unité de production : RTE.</li>
    <li>Production d'électricté annuelle par commune : ODRE.</li>
    <li>
        Mix énergiétique:
        <a class="underline"
           href="https://www.rte-france.com/eco2mix"
           target="_blank">éCO<sub>2</sub>mix</a>.
    </li>
    <li>Fond de carte : IGN.</li>
</ul>
