{% load static %}
{% load django_vite %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Géowatt - Parc français de production d'électricité</title>
  {{ families | json_script:"energy-families" }}
  {{ styles | json_script:"energy-styles" }}
  {% vite_hmr_client %}
  {% vite_asset 'src/map.ts' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.js"
    integrity="sha512-6HrPqAvK+lZElIZ4mZ64fyxIBTsaX5zAFZg2V/2WT+iKPrFzTzvx6QAsLW2OaLwobhMYBog/+bvmIEEGXi0p1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>


<body class="font-sans">
  <div class="grid grid-cols-[25rem,_1fr] grid-rows-1 h-screen items-stretch">
    <section id="panel" class="shadow-xl z-10 p-4" hx-push-url="true">
      {% block panel %}{% endblock %}
    </section>
    <section id="map" class="cursor-grabbing"></section>
  </div>
</body>

</html>