<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Géowatt - Parc français de production d'électricité</title>
</head>

<body class="font-sans">
  <div class="grid grid-cols-[25rem,_1fr] grid-rows-1 h-screen items-stretch">
    <section id="panel" class="shadow-xl z-10 p-4" id="app">
      <h1 class="text-3xl font-light">Géowatt</h1>
    </section>
    <section id="map" class="cursor-grabbing"></section>
  </div>
  <script type="module" src="http://localhost:5173/@vite/client"></script>
  <script type="module" src="http://localhost:5173/src/map.ts"></script>
</body>

</html>