<p class="font-sans text-sm mb-2">Géowatt / <span class="capitalize" >{{ plant.production_mode }}</span></p>

<div class="flex gap-2 items-center mb-4">
    <img class="w-12 h-12" src="http://localhost:5173/sprite/atom.png">
    <h2 class="text-lg font-bold uppercase">{{ plant.name }}</h2>
</div>

<h3 class="font-bold text-l mt-4">Informations générales</h3>
<p>Mode de production : {{ plant.production_mode }}</p>
<p>Puissance installée : {{ plant.output }}</p>

<p><a href="{{ plant.openstreetmap_url }}" target="_blank" class="underline">Voir sur OpenStreetMap</a></p>

{% if plant.wikipedia %}
<p><a href="{{ plant.wikipedia_url }}" target="_blank" class="underline">Voir sur Wikipédia</a></p>
{% endif %}

{% if plant.wikidata %}
<p><a href="{{ plant.wikidata_url }}" target="_blank" class="underline">Voir sur Wikidata</a></p>
{% endif %}

{% if plant.eic_list %}
<h3 class="font-bold text-l mt-4">Tranches</h3>
<ul>
    {% for capacity in capacities %}
    <li>{{ capacity.name }} - {{ capacity.output }} MW</li>
    {% endfor %}
</ul>

<h3 class="font-bold text-l mt-4">Production</h3>
<p>Puissance délivrée en MW par tranche lors des huit dernières heures</p>
{{ production.labels | json_script:"chart-labels" }}
{{ production.datasets | json_script:"chart-datasets" }}
<div class="h-[300px] py-4">
    <canvas id="production-graph"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.js"
    integrity="sha512-6HrPqAvK+lZElIZ4mZ64fyxIBTsaX5zAFZg2V/2WT+iKPrFzTzvx6QAsLW2OaLwobhMYBog/+bvmIEEGXi0p1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    Chart.defaults.font.family = '"Source Sans 3"'
    new Chart(
        document.getElementById('production-graph'),
        {
            type: 'line',
            data: {
                labels: JSON.parse(document.getElementById('chart-labels').textContent),
                datasets: JSON.parse(document.getElementById('chart-datasets').textContent)
            },
            options: {
                animation: { duration: 0 },
                maintainAspectRatio: false,
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        stacked: true,
                        beginAtZero: true,
                    }
                },
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            boxWidth: 16,
                            padding: 16,
                        }
                    }
                }
            }
        }
    );
</script>
{% endif %}